body{
    background-color: #99cc99;
}
hr{
    height: 10px;
    background-color: #cccc99;
    border-color: #cccc99;
    border-width: 2px;
    border-style: outset;
    display: block;
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
    margin-inline-start: auto;
    margin-inline-end: auto;
    unicode-bidi: isolate;
    overflow: hidden;
}
h1, h2{
    text-align: center;
}
footer #logo{
   float: right;
    padding: 5px;
}